<div class="mt-3 d-flex flex-row">
    {% if include.community_member.twitter %}
    <div class="me-2">
        <a class="btn btn-twitter" href="{{include.community_member.twitter}}"><i class="fa fa-twitter fa-lg"></i></a>
    </div>
    {% endif %}
    {% if include.community_member.mastodon %}
    <div class="me-2">
        <a class="btn btn-mastodon" href="{{include.community_member.mastodon}}"><i class="fa fa-mastodon fa-lg"></i></a>
    </div>
    {% endif %}
    {% if include.community_member.linkedin %}
    <div class="me-2">
        <a class="btn btn-linkedin" href="{{include.community_member.linkedin}}"><i class="fa fa-linkedin fa-lg"></i></a>
    </div>
    {% endif %}
    {% if include.community_member.github %}
    <div class="me-2">
        <a class="btn btn-github" href="{{include.community_member.github}}"><i class="fa fa-github fa-lg"></i></a>
    </div>
    {% endif %}
    {% if include.community_member.matrix %}
    <div class="me-2">
        <a class="btn btn-matrix" href="{{include.community_member.matrix}}"><i class="fa fa-matrix-org fa-lg"></i></a>
    </div>
    {% endif %}
</div>