$scs-mint: #50c3a5;
$scs-blue: #0f5fe1;
$scs-gray: #7d7d82;
$table-border: 1px solid rgba($secondary, 0.4);
$table-hover: rgba($scs-mint, 0.1);
$text-color: $gray-800;

body {
    color: $text-color;
}

.text-blue {
  color: $scs-blue;
}

.text-mint {
  color: $scs-mint;
}

.text-gray {
  color: $scs-gray;
}

.list-group-item-action:hover, .list-group-item-action:focus{
    background-color: $table-hover;
}

.list-group-item{
    border: $table-border;
}

.list-group-item.active{
    background: $scs-mint;
    color: $text-color;
    border: $table-border;
}

.card-top-border{
	min-height: 5px;
	&.blue{ background-color: $scs-blue; }
	&.mint{ background-color: $scs-mint; }
}

.btn-primary{
	background-color: $scs-gray;
	border-color: $scs-gray;
    &:hover{
         background-color: $scs-blue;
         border-color: $scs-blue;
    }
}

.btn-secondary{
    background-color: $scs-mint;
    border-color: $scs-mint;
    &:hover{
         background-color: $scs-blue;
         border-color: $scs-blue;
    }
}

.btn-twitter, {
    color: white;
    background-color: #1DA1F2 !important;
    border-color: #1DA1F2;
    &:hover{
      color: rgba(white, 0.9);
    }
}

.btn-linkedin, {
    color: white;
    background-color: #2867B2 !important;
    border-color: #2867B2;
    &:hover{
      color: rgba(white, 0.9);
    }
}

.btn-github, {
    color: white;
    background-color: #333 !important;
    border-color: #333;
    &:hover{
      color: rgba(white, 0.9);
    }
}

.btn-matrix, {
    color: white;
    background-color: #0dbd8b !important;
    border-color: #0dbd8b;
    &:hover{
      color: rgba(white, 0.9);
    }
}

.bg-dark{
    background-color: $scs-gray !important;
}

.bg-primary{
    background-color: $scs-mint !important;
}

.navbar {
  padding: 0.5rem 1rem;
}

.dropdown-menu[data-bs-popper] {
  left: unset;
}

a {
    color: $scs-mint;
}

a:hover, a:focus {
    color: $scs-blue;
}

.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }
}

h1 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h2 {
  font-weight: bold;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

h3 {
  font-weight: bold;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.blockquote-footer {
    font-size: .8em;
}

blockquote,
.blockquote {
  color: $secondary;
  font-size: unset;
  margin-bottom: 1em;
  margin-left: 2em;
  padding: 0.4em 50px 0.6em 50px;
  border-left: 5px solid $scs-mint;
  position: relative;
  background: $light;
  
  p {
    margin-bottom: 0em;
    text-align: justify;
  }
  
  cite {
    font-size: .8em;
  }
  
  cite::before {
    content: "— "
  }
}

blockquote::before,
.blockquote::before {
  content: "\201C";
  color: $scs-mint;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -15px;
}

.footnotes {
  font-size: 0.8em;
}

table {
  width: 100%;
}

th, td {
    border: $table-border;
    padding: 15px;
}

th {
    background-color: $scs-mint;
    padding: 15px;
}

tr:nth-child(even) { background-color: rgba($scs-gray, 0.1); }

tr:hover, tr:focus {
    background-color: $table-hover;
}

.leaflet-popup-content-wrapper {
    text-align: center !important;
}
