{% asset fullcalendar/main.css %}
{% asset ajax/ical.js %}
{% asset fullcalendar/main.js %}
{% asset fullcalendar/locales/de.js %}
{% asset fullcalendar/locales/en-gb.js %}
{% asset fullcalendar/icalendar/main.global.js %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('community-calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridWeek',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridDay,dayGridWeek,dayGridMonth'
      },
      height: 'auto',
      {% if site.lang == "de" %}
      locale: 'de',
      {% else %}
      locale: 'en-Gb',
      {% endif %}
      nowIndicator: true,
      events: {
        url: 'https://sovereigncloudstack.github.io/calendar/scs.ics',
        format: 'ics'
      }
    });
    calendar.render();
  });

</script>

<div id='community-calendar'></div>