<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-4">
  {% for partner in site.partners %}
    <div class="col">
      <div class="card h-100">
        <a href="{{partner.url}}" class="text-decoration-none text-body stretched-link">
          <img src="{{ partner.image | prepend: "/assets/images/" | prepend: site.baseurl_root }}" class="card-img-top img-fluid p-5" style="width: 100%; max-height: 15vh; object-fit: contain; object-position: center;">
        </a>
        <div class="card-body">
          <p>{{partner.description | truncatewords: 30, ' ...'}}</p>
        </div>
        <div class="card-footer">
          {% for offering in partner.offerings %}
            <span class="badge rounded-pill bg-primary">{{offering[0] | capitalize}}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>