<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-4 mt-2">
  {% for partner in site.partners %}
    <div class="col">
      <div class="card h-100">
        <a href="{{partner.url | prepend: site.baseurl}}" class="text-decoration-none text-body stretched-link">
          {% asset '{{partner.image}}' class='card-img-top p-5' vips:resize='250x150' vips:format='.webp' style='height: 200px; max-width:100%; object-fit: contain; object-position: center;'%}
        </a>
        <div class="card-body">
          <p>{{partner.description | truncatewords: 30, ' ...'}}</p>
        </div>
        <div class="card-footer">
          {% for offering in partner.offerings %}
            <span class="badge rounded-pill bg-primary">{{offering[0] | capitalize}}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
