<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-4 mt-2">
  {% for employee in site.employees %}
    {% assign hide_profile = employee.hide | default: "false" %}
    {% if hide_profile == "false") %}
    <div class="col">
      <div class="card h-100">
        <a href="{{employee.url | prepend: site.baseurl}}" class="text-decoration-none text-body stretched-link">
          {% asset '{{employee.avatar}}' class='card-img-top p-5' vips:resize='250x150' vips:format='.webp' style='height: 200px; max-width:100%; object-fit: contain; object-position: center;'%}
        </a>
        <div class="card-body">
          <p>{{employee.title | truncatewords: 5, ' ...'}}</p>
          <p>{{employee.role | replace: " Sovereign Cloud Stack", ""| truncatewords: 6, ' ...'}}</p>
        </div>
        <div class="card-footer">
          <p>{{employee.company | truncatewords: 4, ''}}</p>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
