<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  {% capture translated_title %}{% t page.title_slug %}{% endcapture %}
  {% if translated_title != "" %}
    {% assign title = translated_title | append: " | " | append: site.title %}
  {% else if page.title != "" %}
    {% assign title = page.title | append: " | " | append: site.title %}
  {% else %}
    {% assign title = site.title %}
  {% endif %}

  {% seo title=false %}

  <title>{{ title }}</title>
  <meta property="og:title" content="{{title}}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl_root }}" />
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl_root }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | prepend: site.baseurl_root }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | prepend: site.baseurl_root }}" />
  <link rel="manifest" href="{{ "/site.webmanifest" | prepend: site.baseurl_root }}" />
  <link rel="mask-icon" color="#50c3a5" href="{{ "/safari-pinned-tab.svg" | prepend: site.baseurl_root }}" />
  <meta name="msapplication-TileColor" content="#50c3a5">
  <meta name="theme-color" content="#ffffff">
</head>
