<!-- Header -->
<header class="bg-white py-2 mb-2">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-6 pe-lg-4">
        <div class="mt-5 mb-3">
           <img src="{{ "/assets/images/SCS_horizontal.svg" | prepend: site.baseurl_root }}" alt="Sovereign Cloud Stack" width="50%" class="img-fluid">  
        </div>
        <p class="lead text-black-50 mb-lg-3">
          {% t global.about %}
        </p>
      </div>
      <div class="col-lg-6 text-lg-end text-nowrap my-auto">
        <a href="https://osb-alliance.com" target="_blank" class="text-decoration-none">
          <img src="{{ "/assets/images/logo-osba.svg" | prepend: site.baseurl_root }}" alt="Open Source Business Alliance" width="25%" class="img-fluid">
        </a>
        <a href="https://bmwk.de" target="_blank" class="text-decoration-none">
          <img src="{{ "/assets/images/logo-bmwk-funded.svg" | prepend: site.baseurl_root }}" alt="Bundesministerium für Wirtschaft und Klimaschutz" width="25%" class="img-fluid ms-5">
        </a>
        <a href="https://gaia-x.eu" target="_blank" class="text-decoration-none">
          <img src="{{ "/assets/images/logo-gaiax.svg" | prepend: site.baseurl_root }}" alt="Gaia-X" width="30%" class="img-fluid ms-3">
        </a>
      </div>
    </div>
  </div>
</header>
