<ul class="navbar-nav flex-row">
  <li class="nav-item my-auto ms-4 ms-lg-2">
    <a class="nav-link fw-bold {% if site.lang == "en" %} text-decoration-underline {% endif %} " href="{{ site.baseurl_root }}{{ page.url }}">EN</a>
  </li>
  <li class="nav-item my-auto mx-2 mx-lg-0">
    <span class="nav-link px-0">/</span>
  </li>
  <li clas="nav-item my-auto">
    <a class="nav-link fw-bold  {% if site.lang == "de" %} text-decoration-underline {% endif %}" href="{{ site.baseurl_root }}/de{{ page.url }}">DE</a>
  </li>
</ul>