<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-4 mt-2">
  {% for member in site.members %}
    {% assign hide_profile = member.hide | default: "false" %}
    {% if hide_profile == "false") %}
    <div class="col">
      <div class="card h-100">
        <a href="{{member.url | prepend: site.baseurl}}" class="text-decoration-none text-body stretched-link">
                   {% asset '{{member.avatar}}' class='card-img-top p-5' vips:resize='250x150' vips:format='.webp' style='height: 200px; max-width:100%; object-fit: contain; object-position: center;'%}
        </a>
        <div class="card-body">
          <p>{{member.title | truncatewords: 4, ' ...'}}</p>
          <p>{{member.role | truncatewords: 6, ' ...'}}</p>
        </div>
        <div class="card-footer">
          <p>{{member.company | replace "Open Source Business Alliance - Bundesverband für digitale Souveränität e.V.", "OSBA e.V."|truncatewords: 4, ' ...'}}</p>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
