<!-- Navigation -->
<!-- CODE FOR OPTIONAL STICKY BANNER
  <nav class="navbar navbar-dark bg-gold sticky-top" style="height: 55px;">
  <div class="container d-flex justify-content-center">
    <a class="lh-1 fw-bolder link-unstyled text-center stretched-link" href="">{% t nav.summit2023 %}</a>
  </div>
</nav> 
-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
  <div class="container align-items-start">
    <div class="d-lg-flex flex-row flex-fill align-items-end">
      <button
        class="navbar-toggler me-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          {% for item in site.data.menu %}
          <li class="nav-item">
            {% if item.dropdown %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% t item.title %}
              </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for nested in item.dropdown %}
                    <li><a class="dropdown-item" href="{{ site.baseurl }}{{ nested.link }}">{% t nested.title %}</a></li>
                  {% endfor %}
              </ul>
            {% else %}
              <a class="nav-link" href="{{ site.baseurl }}{{ item.link }}">
                {% t item.title %}
              </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <ul class="navbar-nav flex-row align-content-end">
          {% for item in site.data.social %}
          <li class="nav-item my-auto me-3 mx-lg-0">
            <a class="nav-link" target="_blank" rel="me" href="{{ item.link }}">
              <i class="fa {{item.icon}}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="d-none d-lg-block">
        {% include language_switcher.html %}
      </div>
    </div>
    <div class="d-lg-none">
      {% include language_switcher.html %}
    </div>
  </div>
</nav>
