<!-- HEAD -->
{% asset leaflet/leaflet.css %}
{% asset leaflet/leaflet.js %}
{% asset leaflet.markercluster/MarkerCluster.css %}
{% asset css/MarkerCluster.SCS.css %}
{% asset leaflet.markercluster/leaflet.markercluster.js %}
{% asset leaflet.featuregroup.subgroup/leaflet.featuregroup.subgroup.js %}

<style>
    .marker-pin {
      width: 40px;
      height: 40px;
      border-radius: 50% 50% 50% 0;
      position: absolute;
      transform: rotate(-45deg);
      left: 50%;
      top: 50%;
      margin: -20px 0 0 -28px;
    }

    .marker-pin-icon {
       position: absolute;
       width: 34px;
       background-color: #fff;
       margin: 11px 0 0 -5px;
       border-radius: 50%;
    }
</style>
<!-- HEAD -->

<div id="communitymap" style="width: 100%; height: 90vh;"></div>
<script>
    var communitymap = L.map('communitymap').setView([53.82291,  6.46217], 6);

    var Stamen_TonerLite = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_toner_lite/{z}/{x}/{y}{r}.png', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 0,
        maxZoom: 20,
        ext: 'png'
    });

    Stamen_TonerLite.addTo(communitymap);

    var markerClusters = L.markerClusterGroup();
    var control = L.control.layers(null, null, { collapsed: false });
    var supporter = L.featureGroup.subGroup(markerClusters);
    {%- for supporter in site.data.supporter -%}
        {% if supporter.location.latitude and supporter.location.longitude %}
            icon = L.divIcon({
                className: 'custom-div-icon',
                html: "<div style='background-color:#50c3a5;' class='marker-pin'></div><img class='marker-pin-icon' src='{% asset '{{supporter.avatar}}' @path %}' alt='{{ supporter.name }}'>",
                iconSize: [40, 56],
                iconAnchor: [20, 56],
                popupAnchor: [-7, -30]
            });
            var marker = L.marker([{{supporter.location.latitude}}, {{supporter.location.longitude}}], { icon: icon });
            marker.bindPopup("<a href='{{supporter.link}}' target='_blank'><b>{{supporter.name}}</b></a>")
            supporter.addLayer(marker);
        {% endif %}
    {% endfor %}
    var training = L.featureGroup.subGroup(markerClusters);
    {%- for training in site.data.training -%}
        {% if training.location.latitude and training.location.longitude %}
            icon = L.divIcon({
                className: 'custom-div-icon',
                html: "<div style='background-color:#50c3a5;' class='marker-pin'></div><img class='marker-pin-icon' src='{% asset '{{training.avatar}}' @path %}' alt='{{ training.name }}'>",
                iconSize: [40, 56],
                iconAnchor: [20, 56],
                popupAnchor: [-7, -30]
            });
            var marker = L.marker([{{training.location.latitude}}, {{training.location.longitude}}], { icon: icon });
            marker.bindPopup("<a href='{{training.link}}' target='_blank'><b>{{training.name}}</b></a>")
            training.addLayer(marker);
        {% endif %}
    {% endfor %}
    var employees = L.featureGroup.subGroup(markerClusters);
    {%- for employee in site.employees -%}
        {% if employee.location.latitude and employee.location.longitude %}
            icon = L.divIcon({
                className: 'custom-div-icon',
                html: "<div style='background-color:#0f5fe1;' class='marker-pin'></div><img class='marker-pin-icon' src='{% if employee.avatar %}{% asset '{{employee.avatar}}' @path %}{% else %}{% asset 'SCS_logo.png' @path %} {%endif%}' alt='{% if employee.academic %}{{employee.academic}} {% endif %}{{employee.firstname}} {{employee.lastname}}'>",
                iconSize: [40, 56],
                iconAnchor: [20, 56],
                popupAnchor: [-7, -30]
            });
            var marker = L.marker([{{employee.location.latitude}}, {{employee.location.longitude}}], { icon: icon });
            marker.bindPopup("<a href='{{employee.url}}' target='_blank'><b>{% if employee.academic %}{{employee.academic}} {% endif %}{{employee.firstname}} {{employee.lastname}}</b></a><br />{{employee.company}}")
            employees.addLayer(marker);
        {% endif %}
    {% endfor %}
    markerClusters.addTo(communitymap);
    supporter.addTo(communitymap);
    training.addTo(communitymap);
    employees.addTo(communitymap);
    control.addOverlay(employees, '{% t map.employees %}');
    control.addOverlay(supporter, '{% t map.supporter %}');
    control.addOverlay(training, '{% t map.training %}');
    control.addTo(communitymap);
</script>
