<!-- HEAD -->
<link rel="stylesheet" href="{{ "/assets/vendor/leaflet/leaflet.css" | prepend: site.baseurl_root }}" />
<script src="{{ "/assets/vendor/leaflet/leaflet.js" | prepend: site.baseurl_root }}"></script>
<link rel="stylesheet" href="{{ "/assets/vendor/leaflet-markercluster/MarkerCluster.css" | prepend: site.baseurl_root }}" />
<link rel="stylesheet" href="{{ "/assets/vendor/leaflet-markercluster/MarkerCluster.SCS.css" | prepend: site.baseurl_root }}" />
<script src="{{ "/assets/vendor/leaflet-markercluster/leaflet.markercluster.js" | prepend: site.baseurl_root }}"></script>
<script src="{{ "/assets/vendor/leaflet-featuregroup-subgroup/leaflet.featuregroup.subgroup.js" | prepend: site.baseurl_root }}"></script>

<style>
    .marker-pin {
      width: 40px;
      height: 40px;
      border-radius: 50% 50% 50% 0;
      position: absolute;
      transform: rotate(-45deg);
      left: 50%;
      top: 50%;
      margin: -20px 0 0 -28px;
    }

    .marker-pin-icon {
       position: absolute;
       width: 34px;
       background-color: #fff;
       margin: 11px 0 0 -5px;
       border-radius: 50%;
    }
</style>
<!-- HEAD -->

<div id="communitymap" style="width: 100%; height: 90vh;"></div>
<script>
    var communitymap = L.map('communitymap').setView([53.82291,  6.46217], 6);

    var Stamen_TonerLite = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}{r}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 0,
        maxZoom: 20,
        ext: 'png'
    });

    Stamen_TonerLite.addTo(communitymap);

    var markerClusters = L.markerClusterGroup();
    var control = L.control.layers(null, null, { collapsed: false });
    var supporter = L.featureGroup.subGroup(markerClusters);
    {%- for supporter in site.data.supporter -%}
        {% if supporter.location.latitude and supporter.location.longitude %}
            icon = L.divIcon({
                className: 'custom-div-icon',
                html: "<div style='background-color:#50c3a5;' class='marker-pin'></div><img class='marker-pin-icon' src='{{ supporter.avatar | prepend: '/assets/images/' | prepend: site.baseurl_root }}' alt='{{ supporter.name }}'>",
                iconSize: [40, 56],
                iconAnchor: [20, 56],
                popupAnchor: [-7, -30]
            });
            var marker = L.marker([{{supporter.location.latitude}}, {{supporter.location.longitude}}], { icon: icon });
            marker.bindPopup("<a href='{{supporter.link}}' target='_blank'><b>{{supporter.name}}</b></a>")
            supporter.addLayer(marker);
        {% endif %}
    {% endfor %}
    var employees = L.featureGroup.subGroup(markerClusters);
    {%- for employee in site.data.employees -%}
        {% if employee.location.latitude and employee.location.longitude %}
            icon = L.divIcon({
                className: 'custom-div-icon',
                html: "<div style='background-color:#0f5fe1;' class='marker-pin'></div><img class='marker-pin-icon' src='{{ employee.avatar | prepend: '/' | prepend: site.baseurl_root }}' alt='{% if employee.academic %}{{employee.academic}} {% endif %}{{employee.firstname}} {{employee.lastname}}'>",
                iconSize: [40, 56],
                iconAnchor: [20, 56],
                popupAnchor: [-7, -30]
            });
            var marker = L.marker([{{employee.location.latitude}}, {{employee.location.longitude}}], { icon: icon });
            marker.bindPopup("<a href='{{employee.safe_url | prepend: '/' | prepend: site.baseurl_root}}' target='_blank'><b>{% if employee.academic %}{{employee.academic}} {% endif %}{{employee.firstname}} {{employee.lastname}}</b></a><br />{{employee.company}}")
            employees.addLayer(marker);
        {% endif %}
    {% endfor %}
    markerClusters.addTo(communitymap);
    employees.addTo(communitymap);
    supporter.addTo(communitymap);
    control.addOverlay(employees, 'Employees');
    control.addOverlay(community, 'Community');
    control.addOverlay(supporter, 'Supporting organizations');
    control.addTo(communitymap);
</script>
