/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Montserrat', sans-serif !important;
  padding-top: 150px;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  background-color: white !important;
  font-size: 16pt;
}

.logo-pic {
  width: auto;
  height: 100px;
  float: right;
}

.logo-scs {
  width: 12%;
  height: auto;
}

.logo-scs-hor {
  width: 20%;
  height: auto;
}

.logo-gaia-x {
  float: left;
  width: 17%;
  height: auto;
  min-width: 150px;
  padding: 20px;
}

.logo-sprind {
  float: left;
  width: 17%;
  height: auto;
  min-width: 150px;
  padding: 20px;
  margin-top: 10px;
}

.logo-bmwi {
  float: left;
  width: 20%;
  height: auto;
  min-width: 160px;
  padding: 10px;
  margin-top: 1px;
}

a:hover {
  color: rgb(80, 195, 165) !important;
  /* color: rgb(15, 95, 225) !important; */
  /* color: rgb(125, 125, 130) !important; */
}

a {
  /* color: rgb(80, 195, 165) !important; */
  /* color: rgb(15, 95, 225) !important; */
  color: rgb(125, 125, 130) !important;
}

.navbar a {
  color: rgb(15, 95, 225) !important;
}

.navbar a:hover {
  color: rgb(80, 195, 165) !important;
}

code {
  color: rgba(121, 131, 140, 1.0) !important;
}

.footer a:hover {
  color: rgb(220,159,63) !important;
}

.footer a {
  color: rgb(160,41,42) !important;
160/41/42
}

p.text-muted {
  color: rgba(174, 179, 184, 1.0) !important;
  font-size: 10pt;
}

h1 {
  color: rgba(73, 83, 91, 1.0) !important;
  font-weight: bold;
  font-size: 20pt;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  color: rgba(73, 83, 91, 1.0) !important;
  font-weight: bold;
  font-size: 16pt;
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 {
  color: rgba(73, 83, 91, 1.0) !important;
  font-weight: bold;
  font-size: 14pt;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  font-size: 1.2em;
  padding: 0;
  margin-left: 1.75em;
}

.list-unstyled {
  padding: 0;
  margin-left: 0.75em;
}

blockquote {
  color: rgba(73, 83, 91, 1.0) !important;
  font-size: 1.2em;
  margin: 50px auto;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid rgba(174, 179, 184, 0.8);
  line-height: 1.6;
  position: relative;
  background: rgba(174, 179, 184, 0.1);
}

blockquote::before {
  content: "\201C";
  color: rgba(174, 179, 184, 0.8);
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

blockquote span{
  display: block;
  color: #333333;
  font-style: normal;
  margin-top: .5em;
  font-size: 0.5em;
}

/* Markdown image */

img[alt="SCS architecture blocks"] { width:100%; }
img[alt="SCS Ecosystem Acatech"] { width:100%; }
img[alt=Peter_Ganten] { width:10%; }
img[alt=Thomas_Jarzombek] { width:10%; }
img[alt=Kurt_Garloff] { width:10%; }
img[alt=Rafael_Laguna] { width:10%; }
img[alt=Alexander_Wallner] { width:10%; }
img[alt=Marius_Feldmann] { width:10%; }
