<div class="row justify-content-center my-4">
    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
      <div class="card" style="width: 13rem;">
        {% asset 'employees/Metz.jpg' class="card-img-top img-fluid" style="width: 100%; max-height: 35vh; object-fit: cover; object-position: top;" %}
        <div class="card-body">
          <p class="card-text"><a class="link-unstyled stretched-link fs-6" href="https://scs.community/hollery">Regina Metz</a></p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
      <div class="card" style="width: 13rem;">
        {% asset 'employees/Diab.jpg' class="card-img-top img-fluid" style="width: 100%; max-height: 35vh; object-fit: cover; object-position: top;" %}
        <div class="card-body">
          <p class="card-text"><a class="link-unstyled stretched-link fs-6" href="https://scs.community/diab">Alexander Diab</a></p>
        </div>
      </div>
    </div>
  </div>
