---
layout: default
---
{% assign community_member = page %}
<div class="my-5">
    <div class="d-flex flex-md-row flex-column align-items-center mb-5">
        <div class="me-4 d-flex align-items-center">
          <svg height="200" width="200">
            {% assign id_round = 6 | random_hex_string %}
            <mask id="{{id_round}}">
              <circle cx="100" cy="100" r="100" fill="white"/>
            </mask>
            <image x="0" y="0" height="200" width="200" xlink:href="{% asset '{{community_member.avatar}}' @path vips:format='.webp' vips:resize='200x200' %}" mask="url(#{{id_round}})"></image>
          </svg>
        </div>
        <div class="d-flex flex-column pe-3">
            <div class="mb-0 text-center text-md-start"><b>{% if community_member.academic %}{{community_member.academic}} {% endif %}{{community_member.firstname}} {{community_member.lastname}}</b></div>
            <div class="small text-muted mt-0 text-center text-md-start">{{community_member.role}} @ <a href="{{community_member.companylink}}" target="_blank">{{community_member.company}}</a></div>
            <div class="mt-2">{{community_member.bio}}</div>
            <div class="mt-2 d-flex flex-row flex-wrap">
              {% include community/social.html community_member=community_member %}
          </div>
        </div>
    </div>
    {% if community_member.holopin_username %}
    <h2 id="badges">{% t about_author.badges %}</h2>
    <div class="row mb-3">
        <a href="https://holopin.io/@{{community_member.holopin_username}}">
            <img
            src="https://holopin.me/{{community_member.holopin_username}}"
            class="img-fluid"
            alt="{{community_member.firstname}}'s Holopin board" />
        </a>
    </div>
    {% endif %}
    <h2 id="posts">{% t about_author.posts %}</h2>
    {% assign sorted = site.posts | where_exp:"sorted", "sorted.about contains community_member.slug" | sort: 'date' | reverse %}
    {% for post in sorted %}
    <div class="list-group mb-2"> 
	    <a href="{{ site.baseurl }}{{post.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex flex-row">
            {% include news/blog_avatars.html %}
            <div class="d-flex w-100 flex-column ms-3 my-auto">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="font-size:.875em">{{post.author | join: ", "}}</h5>
                    <small class="ms-2">{% include date.html date=post.date %}</small>
                </div>
            <p class="mb-1">{{post.title}}</p>
            </div>
        </div>
        </a>
    </div>
    {% endfor %}

</div>