---
layout: default
---
{% assign community_member = page %}
<div class="my-5">
    <div class="d-flex flex-row">
        <div class="mx-4 d-flex align-items-center">
            <svg height="200" width="200">
              {% assign id_round = 6 | random_hex_string %}
              <mask id="{{id_round}}">
                <circle cx="100" cy="100" r="100" fill="white"/>
              </mask>
              <image x="0" y="0" height="200" width="200" xlink:href="{% asset '{{community_member.avatar}}' @path vips:format='.webp' vips:resize='200x200' %}" mask="url(#{{id_round}})"></image>
            </svg>
        </div>
        <div class="d-flex flex-column me-3">
            <div class="mb-0"><b>{% if community_member.academic %}{{community_member.academic}} {% endif %}{{community_member.firstname}} {{community_member.lastname}}</b></div>
            <div class="small text-muted mt-0">{{community_member.role}} @ <a href="{{community_member.companylink}} target="_blank">{{community_member.company}}</a></div>
            <div class="mt-2">{{community_member.bio}}</div>
            <div class="mt-3 d-flex flex-row">
                {% if community_member.twitter %}
                <div class="me-2">
                    <a class="btn btn-twitter" href="{{community_member.twitter}}"><i class="fa fa-twitter fa-lg"></i></a>
                </div>
                {% endif %}
                {% if community_member.mastodon %}
                <div class="me-2">
                    <a class="btn btn-mastodon" href="{{community_member.mastodon}}"><i class="fa fa-mastodon fa-lg"></i></a>
                </div>
                    {% endif %}
                    {% if community_member.linkedin %}
                    <div class="me-2">
                    <a class="btn btn-linkedin" href="{{community_member.linkedin}}"><i class="fa fa-linkedin fa-lg"></i></a>
                    </div>
                    {% endif %}
                    {% if community_member.github %}
                    <div class="me-2">
                    <a class="btn btn-github" href="{{community_member.github}}"><i class="fa fa-github fa-lg"></i></a>
                    </div>
                    {% endif %}
                    {% if community_member.matrix %}
                    <div class="me-2">
                    <a class="btn btn-matrix" href="{{community_member.matrix}}"><i class="fa fa-matrix-org fa-lg"></i></a>
                    </div class="me-2">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if community_member.holopin_username %}
    <h2>Badges & Achievements</h2>
    <div class="row">
        <a href="https://holopin.io/@{{community_member.holopin_username}}">
            <img
            src="https://holopin.me/{{community_member.holopin_username}}"
            class="img-fluid"
            alt="{{community_member.firstname}}'s Holopin board" />
        </a>
    </div>
    {% endif %}
</div>