---
layout: default
---
<h2 class="mb-3"><small><i class="fa fa-bullhorn me-1"></i> {% t news.announcments %}</small></h2>
<div class="list-group mb-4">
{% assign sorted = site.posts | sort: 'date' | reverse %}
{% for post in sorted %}
{% if post.path contains '/announcements/' %}
	<a href="{{ site.baseurl }}{{post.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
	<div class="d-flex flex-row">
		{% if post.avatar %}
			<div style="max-width: 80px; max-height: 80px;" class="rounded-3 overflow-hidden ratio ratio-1x1">
				<img src="{{post.avatar}}" class="img-fluid p-2">
			</div>
		{% endif %}
		<div class="d-flex w-100 flex-column ms-3 my-auto">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1" style="font-size:.875em">{{post.author}}</h5>
				<small class="ms-2">{% include date.html date=post.date %}</small>
			</div>
		<p class="mb-1">{{post.title}}</p>
	</div>
	</div>
	</a>
{% endif %}
{% endfor %}
</div>

<h2 class="mb-3"><small><i class="fa fa-community me-1"></i> {% t news.blog %}</small></h2>
<div class="list-group mb-4">
{% assign sorted = site.posts | sort: 'date' | reverse %}
{% for post in sorted %}
{% if post.path contains '/blog/' %}
	<a href="{{ site.baseurl }}{{post.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
	<div class="d-flex flex-row">
		{% if post.avatar %}		
			<div style="max-width: 80px; max-height: 80px;" class="overflow-hidden ratio ratio-1x1">
				<img src="{{post.avatar}}" class="img-fluid p-1 rounded-circle">
			</div>
		{% endif %}
		<div class="d-flex w-100 flex-column ms-3 my-auto">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1" style="font-size:.875em">{{post.author}}</h5>
				<small class="ms-2">{% include date.html date=post.date %}</small>
			</div>
			<p class="mb-1">{{post.title}}</p>
		</div>
	</div>
	</a>
{% endif %}
{% endfor %}
</div>

<div class="row">
	<div class="col-lg-6">
		<h2 class="mb-3"><small><i class="fa fa-newspaper-o me-1"></i> {% t news.press.en %}</small></h2>
		<div class="list-group mb-4">
		{% assign sorted = site.data.news_en | sort: 'date' | reverse %}
		{% for item in sorted %}
		<a href="{{item.link}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1" style="font-size:.875em">{{item.publisher}}</h5>
		<small class="ms-2">{% include date.html date=item.date %}</small>
		</div>
		<p class="mb-1">{{item.title}}</p>
		</a>
		{% endfor %}
		</div>
	</div>
	<div class="col-lg-6">
		<h2 class="mb-3"><small><i class="fa fa-newspaper-o me-1"></i> {% t news.press.de %}</small></h2>
		<div class="list-group mb-4">
		{% assign sorted = site.data.news_de | sort: 'date' | reverse %}
		{% for item in sorted %}
		<a href="{{item.link}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1" style="font-size:.875em">{{item.publisher}}</h5>
		<small class="ms-2">{% include date.html date=item.date %}</small>
		</div>
		<p class="mb-1">{{item.title}}</p>
		</a>
		{% endfor %}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<h2 class="mb-3"><small><i class="fa fa-comment-o me-1"></i> {% t news.conference.en %}</small></h2>
		<div class="list-group mb-4">
		{% assign sorted = site.data.conferences_en | sort: 'date' | reverse %}
		{% for item in sorted %}
		<div class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<div class="d-flex w-75 flex-column justify-content-start position-relative">
					<h5 style="font-size:.875em">{{item.event}}</h5>
					<a href="{{item.link}}" target="_blank" class="mb-1 text-decoration-none text-body stretched-link">{{item.title}}</a>
					{% if item.details %}<p class="mb-1 small fw-light">— {{item.details}}</p>{% endif %}
				</div>
				<div class="d-flex w-25 flex-column justify-content-start text-end position-relative">
					<small>{% include date.html date=item.date %}</small>
					{% if item.slides %}
						<a class="mt-1 text-decoration-none text-secondary stretched-link" href="{{ item.slides | prepend: "/assets/slides/" | prepend: site.baseroot_url }}" target="_blank">
							<i class="fa fa-download my-auto"></i> <small>{% t news.conference.slides %}</small>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
	<div class="col-lg-6">
		<h2 class="mb-3"><small><i class="fa fa-comment-o me-1"></i> {% t news.conference.de %}</small></h2>
		<div class="list-group mb-4">
		{% assign sorted = site.data.conferences_de | sort: 'date' | reverse %}
		{% for item in sorted %}
		<div class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<div class="d-flex w-75 flex-column justify-content-start position-relative">
					<h5 style="font-size:.875em">{{item.event}}</h5>
					<a href="{{item.link}}" target="_blank" class="mb-1 text-decoration-none text-body stretched-link">{{item.title}}</a>
					<p class="mb-1 small fw-light">— {{item.details}}</p>
				</div>
				<div class="d-flex w-25 flex-column justify-content-start text-end position-relative">
					<small>{% include date.html date=item.date %}</small>
					{% if item.slides %}
						<a class="mt-1 text-decoration-none text-secondary stretched-link" href="{{ item.slides | prepend: "/assets/slides/" | prepend: site.baseroot_url }}" target="_blank">
							<i class="fa fa-download my-auto"></i> <small>{% t news.conference.slides %}</small>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
</div>

