---
layout: default
---
{% include news/blog_postings.html limit="3" filter="/announcements/" title_slug="news.announcements" icon="fa-bullhorn" %}
{% include news/read_more.html ref="announcements" %}

{% include news/blog_postings.html limit="3" filter="/blog/" title_slug="news.blog" icon="fa-community" %}
{% include news/read_more.html ref="blog" %}

<div class="row">
	{% include news/press.html limit="3" title_slug="news.press.en" icon="fa-newspaper-o" data=site.data.news_en %}
	{% include news/press.html limit="3" title_slug="news.press.de" icon="fa-newspaper-o" data=site.data.news_de %}
	{% include news/read_more.html ref="press" %}
</div>

<div class="row">
	{% include news/conferences.html limit="3" title_slug="news.conference.en" icon="fa-comment-o" data=site.data.conferences_en %}
	{% include news/conferences.html limit="3" title_slug="news.conference.de" icon="fa-comment-o" data=site.data.conferences_de %}
	{% include news/read_more.html ref="conferences" %}
	<p>&nbsp;</p>
	{% include news/youtube_channel.html ref="https://www.youtube.com/@sovereigncloudstack" %}
	<p>&nbsp;</p>
	{% include news/link_events.html ref="/events" %}
</div>
