---
layout: default
---
<div class="d-flex w-100 flex-column mb-3">
	<h1 class="pb-1 mb-0"><small>{{page.title}}</small></h1>
	<div class="d-flex w-100 flex-row">
		<div style="max-width: 80px; max-height: 80px;" class="rounded-3 overflow-hidden ratio ratio-1x1">
			<img src="{{page.avatar}}" class="img-fluid">
		</div>
		<div class="d-flex w-100 flex-column ms-3 my-auto">
			<small class="mb-1 fw-bolder">{{page.author}}</small>
			<small>{% include date.html date=page.date %}</small>
		</div>
	</div>
</div>

{{content}}
