---
layout: default
---
<h2 class="mb-3"><small><i class="fa fa-exclamation-triangle me-1"></i> {% t nav.security %}</small></h2>
<div class="list-group mb-4">
{% assign sorted = site.posts | sort: 'date' | reverse %}
{% for post in sorted %}
{% if post.category contains 'security' %}
	<a href="{{ site.baseurl }}{{post.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
	<div class="d-flex flex-row">
		{% include news/blog_avatars.html %}
		<div class="d-flex w-100 flex-column ms-3 my-auto">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1" style="font-size:.875em">{{post.author | join: ", "}}</h5>
				<small class="ms-2">{% include date.html date=post.date %}</small>
			</div>
		<p class="mb-1">{{post.title}}</p>
	</div>
	</div>
	</a>
{% endif %}
{% endfor %}
</div>
