<div class="row my-3 justify-content-center">
  <div class="col-md-6 col-lg-3">
    <div class="card border-0 shadow h-100">
      {% asset 'triathlon2022/running.jpg' vips:format='.webp' class="card-img-top img-fluid" style="width: 100%; max-height: 20vh; object-fit: cover; object-position: center;" %}
      <div class="card-top-border mint"></div>
      <div class="card-body">
        <h4 class="card-title">Running</h4>
        <p class="card-text">
          Run 10 kilometers in one go
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card border-0 shadow h-100">
      {% asset 'triathlon2022/swimming.jpg' vips:format='.webp' class="card-img-top img-fluid" style="width: 100%; max-height: 20vh; object-fit: cover; object-position: center;" %}
      <div class="card-top-border blue"></div>
      <div class="card-body">
        <h4 class="card-title">Swimming</h4>
        <p class="card-text">
          Swim 1.5 kilometer in one go
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card border-0 shadow h-100">
      {% asset 'triathlon2022/cycling.jpg' vips:format='.webp' class="card-img-top img-fluid" style="width: 100%; max-height: 20vh; object-fit: cover; object-position: center;" %}
      <div class="card-top-border blue"></div>
      <div class="card-body">
        <h4 class="card-title">Cycling</h4>
        <p class="card-text">
          Cycle 40 kilometers in one go
        </p>
      </div>
    </div>
  </div>
</div>
