<h2 class="mb-3">{% t home.partner %}</h2>
{% for quote in site.data.quotes %}
<div class="row mb-5 mx-2">
	<div class="card shadow">
		<div class="row align-items-center p-3">
			<div class="col-md-2 d-none d-lg-block">
				<img class="img-fluid p-3" src="{{ quote.logo | prepend: "/assets/images/" | prepend: site.baseurl_root }}" alt="{% t quote.title %}">
			</div>
		 	<div class="col-lg-10">
				<h3 class="card-title">
					{% t quote.title %}
				</h3>
				<p class="card-text">
					{% tf {{quote.translation}} %}
				</p>
			</div>
		</div>
	</div>
</div>
{% endfor %}