<div class="row align-items-center">
	<h2 class="mb-5">{% t home.provider %}</h2>
	{% assign sorted = site.data.provider | sort_natural: 'name' %}
	{% for provider in sorted %}
	<div class="col-lg-4 col-md-6 col-12 mb-5">
	<a href="{{ provider.link }}" title="{{ provider.name }}" target="_blank">
		{% asset '{{ provider.image }}' alt='{{provider.name}}' class='mx-auto d-block' vips:format='.webp' vips:resize='300x150' %}
	</a>
	</div>
	{% endfor %}
</div>
<div class="row align-items-center">
	<h2 class="mb-5">{% t home.supporter %}</h2>
	{% assign sorted = site.data.supporter | sort_natural: 'name' %}
	{% for supporter in sorted %}
	<div class="col-lg-3 col-sm-4 col-6 my-4">
	<a href="{{ supporter.link }}" title="{{ supporter.name }}" target="_blank">
		{% asset '{{ supporter.image }}' alt='{{supporter.name}}' class='mx-auto d-block' vips:format='.webp' vips:resize='150x60' %}
	</a>
	</div>
	{% endfor %}
</div>
