<div class="row mb-5">
{% for tile in site.data.tiles %}
  <div class="col-md-3 mb-5">
    <div class="card border-0 shadow h-100">
      <div class="card-top-border {{ tile.color }}"></div>
      <div class="card-body">
        <h4 class="card-title">{% t tile.title %}</h4>
        <p class="card-text">
          {% t tile.body %}
        </p>
      </div>
      <div class="card-footer">
        <a href="{{ site.baseurl }}{{ tile.link }}" class="btn btn-primary">{% t tile.action %}</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>