{% if post.about.size > 0 %}
<h2 id="about">
  {% if post.about.size == 1 %}
    {% t about_author.single.title %}
  {% elsif post.about.size > 1 %}
    {% t about_author.multiple.title %}
  {% endif %}
</h2>
{% endif %}
{% for author_slug in post.about %}
{% assign author = site.community | where:"author_slug", author_slug | first %}
{% if author %}
<div class="d-flex flex-md-row flex-column align-items-center">
    <div class="me-4 d-flex align-items-center">
      <svg height="120" width="120">
        {% assign id_round = 6 | random_hex_string %}
        <mask id="{{id_round}}">
          <circle cx="60" cy="60" r="60" fill="white"/>
        </mask>
        <image x="0" y="0" height="120" width="120" xlink:href="{% asset '{{author.avatar}}' @path vips:format='.webp' vips:resize='120x120' %}" mask="url(#{{id_round}})"></image>
      </svg>
    </div>
    <div class="d-flex flex-column pe-3">
        <div class="mb-0 text-center text-md-start"><b>{% if author.academic %}{{author.academic}} {% endif %}{{author.firstname}} {{author.lastname}}</b></div>
        <div class="small text-muted mt-0 text-center text-md-start">{{author.role}} @ <a href="{{author.companylink}} target="_blank">{{author.company}}</a></div>
        <div class="mt-2">{{author.bio}}</div>
        <div class="mt-2 d-flex flex-row flex-wrap">
          {% include community/social.html community_member=author %}
          <div class="ms-md-auto pe-3"><a href="{{ site.baseurl }}/community/{{ author_slug }}" class="btn btn-outline-primary" role="button">{% t about_author.more %}</a></div>
      </div>
    </div>
</div>
{% endif %}
{% endfor %}