{% if include.limit %}
  {% assign i = include.limit %}
{% endif %}

<h2 class="mb-3 mt-4"><small><i class="fa {{include.icon}} me-1"></i> {% t include.title_slug %}</small></h2>
<div class="list-group mb-2">
{% assign sorted = site.posts | sort: 'date' | reverse %}
{% for post in sorted %}
{% if include.category %}
  {% unless post.category contains include.category %}
    {% continue %}
  {% endunless %}
{% endif %}
{% if post.path contains {{include.filter}} %}
	<a href="{{ site.baseurl }}{{post.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
	<div class="d-flex flex-row">
		{% include news/blog_avatars.html %}
		<div class="d-flex w-100 flex-column ms-3 my-auto">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1" style="font-size:.875em">{{post.author | join: ", "}}</h5>
				<small class="ms-2">{% include date.html date=post.date %}</small>
			</div>
		<p class="mb-1">{{post.title}}</p>
	</div>
	</div>
	</a>
  {% if i %}
    {% assign i = i | minus: 1 %}
  {% endif %}
{% endif %}
{% if i == 0 %}
  {% break %}
{% endif %}
{% endfor %}
</div>
